---
import Layout from '../../layouts/Layout.astro';
import Navbar from '../../components/Navbar.astro';
import Hero from '../../components/Hero.astro';
import ServicesBento from '../../components/ServicesBento.astro';
import Process from '../../components/Process.astro';
import Stats from '../../components/Stats.astro';
import Projects from '../../components/Projects.astro';
import Testimonials from '../../components/Testimonials.astro';
import ContactCTA from '../../components/ContactCTA.astro';
import Footer from '../../components/Footer.astro';
---

<Layout>
  <Navbar />
  <main>
    <Hero />
    <ServicesBento />
    <Process />
    <Stats />
    <Projects />
    <Testimonials />
    <ContactCTA />
  </main>
  <Footer />
</Layout>
